.text-center {
  text-align: center;
}

.space-bottom {
  margin-bottom: var(--space) !important;

  @include sm {
    margin-bottom: calc(var(--space) / 2) !important;
  }
}

.space-bottom-small {
  margin-bottom: calc(var(--space) / 2);
}

.space-bottom-zero {
  margin-bottom: 0;
}

.text-medium {
  font-size: 1.1em;

  @include lg {
    font-size: 1.2em;
  }
}

.text-large {
  font-size: 2em;

  @include lg {
    font-size: 3em;
  }
}

.text-bold {
  font-weight: bold;
}


.button {
  padding: calc(var(--space) / 4) var(--space);
  font-weight: 600; 
  font-size: 0.95rem;
  text-decoration: none;

  transition: background-color var(--transition-time-long) ease,
    color var(--transition-time-long) ease;

  @include sm {
    font-size: 1rem;
    padding: calc(var(--space) / 8) calc(var(--space) / 2);
  }

  &--white {
    background: black;
    border: 1px solid white;
    color: white;

    &:hover {
      background-color: white;
      color: black;
      cursor: pointer;
    }
  }

  &--black {
    background: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      cursor: pointer;
    }
  }
}

.flex--column {
  flex-direction: column;
}

.flex--content-center {
  justify-content: center;
}
