.text-center {
  text-align: center;
}

.space-bottom {
  margin-bottom: var(--space) !important;

  @include sm {
    margin-bottom: calc(var(--space) / 2) !important;
  }
}

.space-bottom-small {
  margin-bottom: calc(var(--space) / 2);
}

.space-bottom-zero {
  margin-bottom: 0;
}

.text-medium {
  font-size: 1.1em;

  @include lg {
    font-size: 1.2em;
  }
}

.text-large {
  font-size: 2em;

  @include lg {
    font-size: 3em;
  }
}

.text-bold {
  font-weight: bold;
}
