// Default variables
$sm-breakpoint: 600px;
$md-breakpoint: 960px;
$lg-breakpoint: 1264px;
$xl-breakpoint: 1904px;

html {
  --base-font-size: 20px;
}

// Light default theme
body {
  --bg-color: #f3f7f9;
  --bg-color-dark: rgb(230, 230, 230);
  --bg-content-color: #fff;
  --bg-code: #fffbf3;
  --body-color: #444;
  --title-color: #111;
  --link-color: #444;
  --link-border-color: #6b17e6;
  --border-color: #ddd;
  --border-color-dark: #ddd;
  --hr-color: rgba(0, 0, 0, 0.75);
  --space: 3.5rem;
  --content-width: 860px;
  --header-height: 80px;
  --radius: 5px;
  --logo-filter-brightness: brightness(1);
  --logo-filter-shadow: drop-shadow(1px 1px 3px blue);
  --icon-space: 5px;
  --transition-time: 0.3s;
  --transition-time-long: 0.6s;
}

// Make  things smaller for mobile
@media screen and (max-width: 650px) {
  html {
    --base-font-size: 17px;
  }
  body {
    --space: 1.5rem;
    --header-height: 60px;
  }
}

// Override variables for Dark theme
body[data-theme="dark"] {
  --bg-color: #0d2538;
  --bg-color-dark: #0b1e2e;
  --bg-content-color: #0f2d44;
  --bg-code: rgba(0, 0, 0, 0.3);
  --hr-color: rgba(255, 255, 255, 0.75);
  --border-color: rgba(255, 255, 255, 0.1);
  --body-color: #ced8de;
  --title-color: #fff;
  --link-color: #ced8de;
  --link-border-color: #af9cef;
  --logo-filter-brightness: brightness(100);
  --logo-filter-shadow: drop-shadow(1px 1px 3px white);
}
